{% extends 'base.html' %}
{% block title %}Secret Page{% endblock %}
{% block content %}
<h1>I'm info page</h1>
<div>
    {% for feedback in user.feedback %}
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title text-info">
                    <b>{{feedback.title}}</b>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{feedback.user.username}}</h6>
                <p class="card-text">
                    {{feedback.content}}
                </p>
                <div class="container">
                    <div class="row">
                        <form action="/feedback/{{feedback.id}}/update"
                                method="POST">
                                <button class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i></button>
                        </form>
                        <form action="/feedback/{{feedback.id}}/delete"
                                method="POST">
                                <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}